  .Legend {
	height: 50vh;
  width: 12vw;
  z-index: 12;
  position: absolute;
  left: 450px;
  bottom: 400px;
  display: flex-start;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-image: url(${Legend});
  background-repeat: space;
  border-radius: 10px;
 border: '2px solid #000',
	}